<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faculty Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <style>
    body {
      background: url('/static/images/banner.jpeg') no-repeat center center fixed;
    background-size: cover;
    }
</style>
</head>
<body>
    <div class="container">
        <h2>Register as Faculty</h2>
        <form action="/register" method="POST">
            <input type="text" name="name" placeholder="Full Name" required>
            <input type="email" name="email" placeholder="Email Address" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Register</button>
        </form>

        {% if msg %}
        <p style="text-align:center; color: red; margin-top: 10px;">{{ msg }}</p>
        {% endif %}

        <p style="text-align:center; margin-top: 15px;">
            Already have an account? <a href="/login">Login here</a>
        </p>
    </div>
</body>
</html>
